* {
	margin: 0;
	text-transform: uppercase;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: calc(60px + (160 - 60) * ((100vw - 480px) / (1500 - 320)));
	font-weight: 800;
	line-height: 120px;
	letter-spacing: 16px;
	color: #ffffff;
	transition: all 0.5s ease-in-out;
	@media (max-width: 720px) {
		letter-spacing: 10px;
	}
	@media (max-width: 540px) {
		letter-spacing: 6px;
	}
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 3.5px;
	color: $pTxtColor;
	@media (max-width: 940px) {
		font-size: 20px;
	}	
	@media (max-width: 480px) {
		font-size: 18px;
	}
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 3.25px;
	color: #111111;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	letter-spacing: 2.5px;
	color: $pTxtColor;
}

h5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	letter-spacing: 1.8px;
	color: #f4f4f4;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.85;
	letter-spacing: 0.1px;
	text-align: left;
	color: #777777;
	text-transform: none;
}

img {
	display: block;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	letter-spacing: 2px;
	text-decoration: none;
	color: $sTxtColor;
	transition: all 0.5s ease-in-out;
	&:link,
	&:visited {
		color: $sTxtColor;
	}

	&:hover,
	&:active {
		color: $qTxtColor;
	}
}

span {
	display: block;
}

.wrapper {
	@include pW(1140, 1400);
	max-width: 1140px;
	margin: 0 auto;
	@media (max-width: 780px) {
		width: 80%;
	}
}

button {
	transition: all 0.5s ease-in-out;
}

.btn {
	padding: 15px 40px;
	border: none;
	background-color: transparent;
}

.btn span {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	letter-spacing: 2.5px;
}

.btn--lt {
	background-color: $ltBtnColor;
	color: $dkBtnColor;
	&:hover {
		background-color: $dkBtnColor;
		color: $ltBtnColor;
	}
}

.btn--dk {
	background-color: $dkBtnColor;
	color: $ltBtnColor;
	&:hover {
		background-color: $ltBtnColor;
		color: $dkBtnColor;
	}
}

.section-title {
	padding-top: calc(155 / 1400 * 100%);
	padding-bottom: calc(95 / 1400 * 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	h2 {
		margin-bottom: calc(20 / 1400 * 100%);
	}
	h3 {
		color: #999999;
	}
}

.item--hover {
	&:hover {
		box-shadow: 0px 25px 25px 0 rgba(0, 0, 0, 0.15);
		transform: translateY(-10px);
	}
}

.keyline {
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 5em;
		background-color: transparent;
		border-bottom: 1px solid #cccccc;
		left: 0;
		top: 50%;
		 transform: translateY(-50%);
	}
}

.double-separator {
	&:before,
	&:after {
		content: "";
		position: absolute;
		width: 1px;
		height: 15px;
		top: 50%;
		transform: translateY(-50%);
		background-color: #cccccc;
	}
	&:before {
		left: -11px;
	}
	&:after {
		right: -11px;
	}
}


