.work {
	background-color: #fff;
}

.work .section-title {
	margin-bottom: calc(93 / 1400 * 100%);
}

.work-top {
	display: flex;
	margin: 0 auto;
	flex-flow: row wrap;
	justify-content: space-between;
	.work-item {
		position: relative;
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		&__bg-number {
			position: absolute;
			top: 0; left: 0;
			transform: translateY(-40%);
			font-family: 'Open Sans', sans-serif;
			font-size: 168px;
			font-weight: 300;
			color: rgba(204, 204, 204, 0.2);
			@media (max-width: 940px) {
				font-size: 135px;
				transform: translate(-30%, -40%);
			}
			@media (max-width: 540px) {
				font-size: 100px;
				transform: translate(-25%, -50%);
			}
		}
		&__content {
			@include pW(242, 334);
			align-self: flex-end;
			h4 {
				margin-bottom: 28px;
			}
			@media (max-width: 1285px) {
				width: 100%;
			}
		}
		@media (max-width: 1285px) {
			width: 28%;
		}
		@media (max-width: 940px) {
			width: 80%;
			margin-bottom: 80px;
		}
	}
	@media (max-width: 1285px) {
		justify-content: space-around;
	}
	@media (max-width: 940px) {
		padding-top: 40px;
	}
}

.section-content > button {
	display: block;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	@media (max-width: 940px) {
		margin-top: 0px;
		margin-bottom: 60px;
	}
}

.work-center {
	display: flex;
	background-color: #f4f4f4;
	@media (max-width: 940px) {
		flex-direction: column;
		align-items: center;
	}
}

.work-menu {
	@include pW(423, 1400);
	&-item {
		background-color: #ffffff;
		border: 1px solid #f4f4f4;
 		position: relative; 
		display: flex;
		align-items: center;
		height: 149px;
		a:hover {
			color: inherit;
		}
		&__icon {
			@include pW(117, 423);
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 46px;
		}
		&__content {
			@include pWI(117, 423);
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
		}
	}
	@media (max-width: 1285px) {
		flex-basis: calc(423 / 1400 * 1285px);
		flex-shrink: 1;
	}
	@media (max-width: 940px) {
		width: 100%;
		flex: none;
	}
}

.work-menu .dummy {
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	display: flex;
}

.menu-item__selected {
	background-color: #f4f4f4;
	border-left: 10px solid black;
	i {
		color: #000;
	}
}

.work-menu-curr {
	@include pW(977, 1400);
	display: flex;
	@media (max-width: 1285px) {
		flex-basis: (977 / 1400 * 1285px);
		flex-shrink: 4;
	}
	@media (max-width: 940px) {
		width: calc(1140 / 1400 * 100%);
		flex: none;
	}
	@media (max-width: 780px) {
		flex-wrap: wrap;
	}
	&__content {
		@include pWI(492, 977);
		@include pP(112, 18, 107, 96, 1400);
		@media (max-width: 1285px) {
			flex-basis: calc(485 / 977 * (977 / 1400 * 1285));
			flex-shrink: 1;
		}
		@media (max-width: 940px) {
			flex: none;
		}
		@media (max-width: 780px) {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			@include pP(112, 50, 96, 50, 1400);
			width: 100%;
		}
		* {
			margin: 0;
		}
		h4 {
			margin-bottom: 30px;
		}
		p {
			margin-bottom: 48px;
		}
	}
	&__image {
		@include pW(492, 977)
		display: flex;
		align-items: center;
		img {
			max-width: 100%;
		}
		@media (max-width: 1285px) {
			flex-basis: calc(450 / 977 * (977 / 1400 * 1285));
			flex-shrink: 2;
		}
		@media (max-width: 940px) {
			flex: none;
		}
		@media (max-width: 780px) {
			width: 100%;
			justify-content: center;
			img {
				max-width: 65%;
				min-width: 350px;
				margin-bottom: 10%;
			}
		}
		@media (max-width: 540px) {
			img {
				min-width: 0;
			}
		}
	}
}

.work-bottom {
	background: linear-gradient(rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(../images/progress_bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

.work-bottom .wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 70px 0px 70px 0px;
	text-align: center;
}

.work-bottom-item {
	width: 25%;
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
	}
	&:nth-of-type(3) img {
		transform: translateX(5px);
	}
	@media (max-width: 940px) {
		width: 50%;
		margin: 30px 0px 30px 0px;
		justify-content: center;
	}
	@media (max-width: 480px) {
		display: none;
	}
}

